*
!*.mmdb
!*.md
!*.markdown
!*.scss
!*.rb
!*.ru
!*.yml
!*.xml
!*.swf
!*.py
!*.ini
!*.yaml
!*.txt
!*.html
!*/
!*.conf
!*.js
!*.css
!*.jpg
!*.png
!*.gif
!*.ico
!*.font
!*.less
!*.eot
!*.woff
!*.svg
!*.json
!*.gpg
!*.gitignore   
!Gemfile
!CNAME
!Rakefile
!source
!sass
!plugins
source/_posts
public
.themes


